<nav class="nav1">
     <ul>
        <li> <a href="/app-notes"><b>Home</b> </a></li>
        <li> <a href="/app-register"><b>Register</b> </a></li>
        <li> <a href="/app-login"><b>Login</b> </a></li>
    </ul>
    <div class="clear"></div>
 </nav>

<div class="card">
    <div id="view" class="container-fluid">
            <div class="header">
                <h1 class="text-center">STUDY FLASHCARDS</h1>
                <p class="intro">Attack your weakness and rise to the occasion.</p>
            </div>
          </div>
        </div>